<% debt_percent=(Float(@cash)/@adj_check_balance)*100 %>
<h3>Available Income: <%= number_to_currency(@cash, options={:precision=>0})+" (Updated "+@check_acct.created_at.strftime('%b. %e, %Y')+")"%></h3>
<div class="progress">
  <div class="bar bar-success" style="width: <%= debt_percent %>%;" value="<%= @cash %>" data-content="<%= @adjustment_string %>" data-original-title="Adjustments" ></div>
  <% @flow_sum.each {|key, value| if value>0%>
    <% flow_name=Flow.where(:id=>key).first.name %>
    <div class="bar <%=flow_name %>" style="width: <%= (value/@adj_check_balance)*100 %>%;" rel="popover" data-content="$<%= value.to_i %>" data-original-title="<%= flow_name %>"></div>
  <% end } %>
</div>