<% debt_percent=(Float(@debt_acct.balance)/@debtInitialBalance)*100 %>
<h3><%= @debt_acct.name %>: <span id="debtBalance" balance="<%= @debt_acct.balance %>"><%= number_to_currency(@debt_acct.balance, options={:precision=>0}) %></span></h3>
<div class="progress progress-info">
  <div class="bar" id="debtBar" style="width: <%= debt_percent %>%" total="<%= @debtInitialBalance %>" ></div>
</div>