<%= form_for(@adjustments.new, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name of new adjustment" %>:  
    $<%= f.text_field :value, placeholder: "Value" %>.00
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>