<%= form_for(current_user.accounts.new, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name of new debt" %>:  
    <span class="input-prepend input-append">
      <span class="add-on">$</span><%= f.text_field :balance, placeholder: "Balance", class: 'input-medium' %>
      <span class="add-on">.00</span>
    </span>
    <span class="input-prepend" style="margin-left:20px;">
      <span class="add-on">%</span><%= f.text_field :rate, placeholder: "Rate", class: 'input-medium' %>
    </span>
    <%= f.submit "Add", class: "btn btn-medium btn-primary" %>
  </div>
<% end %>