<li id='li<%= account.id %>'>
  <% if account.name == "Cash" %>
    <h2>Shared Cash Flow</h2>
  <% else %>
    <%= render :partial=>'shared/debt', :object => account %>
    <%= link_to "delete", account, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
  <% end %>
  <div class="btn-group" data-toggle="buttons-checkbox">
    <% @user.followers.each do |user| %>
      <%= form_for([user, account], remote: true) do |f| %>
        <% if account.registered?(user.id) %>
          <%= f.submit user.name, class: "btn btn-success accountbtn active"%>
        <% else %>
          <%= f.submit user.name, class: "btn accountbtn" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>