<% provide(:title, 'Account Setup') %>
<h1>Set Targets</h1>

<%= will_paginate %>
<% if @checkAcct %>
<ul class="account">
  <%= render @checkAcct %>
</ul>
<% end %>

<ul class="microposts">
  <%= render @accounts %>
</ul>

<%= render 'account_form' %>

<%= will_paginate %>

<script text="text/javascript">
$(document).ready(function(){
});

$('.accountbtn').click(function(){
  if ($(this).attr('class')=='btn btn-success accountbtn active') {
    $(this).attr('class', 'btn accountbtn');
    $(this).button('toggle');
  } else if($(this).attr('class')=='btn accountbtn') {
    $(this).attr('class', 'btn active btn-success accountbtn');
    $(this).button('toggle');
  }
  
});
</script>